*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
    height: 5vh;
}
header nav ul li{
    display: inline;
}
p{
    text-align: center;
    border: 2px solid red;
}
.container{
    height: 200vh;
    width: 50vw;
    margin: auto;
    background-color: aqua;
}
.box1{
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    position: absolute;
}
.box2{
    height: 200px;
    width: 200px;
    background-color: rgb(25, 0, 218);
}